################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Chen.Data/bin
/Chen.Data/obj
/Chen.Migrations/bin
/Chen.Migrations/obj
/Chen.Migrations/Migrations
/Chen.Model/bin
/Chen.Model/obj
/FirstCoreMVC/bin
/FirstCoreMVC/obj
/FirstCoreMVC/WebAPI.csproj.user
/FirstCoreMVC/Properties
